@import "tailwindcss";

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@keyframes border-spin {
  to {
    --border-angle: 360deg;
  }
}

.animated-border-card {
  background: linear-gradient(45deg, #172033, rgb(12 12 12) 50%, #020202)
      padding-box,
    conic-gradient(
        from var(--border-angle),
        /* rgb(71 85 105 / 0.48) 80%,
        rgb(99 102 241) 86%,
        rgb(165 180 252) 90%,
        rgb(99 102 241) 94%,
        rgb(71 85 105 / 0.48) */
              rgb(71 85 105 / 0.48) 80%,
              rgb(217 119 6) 86%,
              rgb(251 191 36) 90%,
              rgb(217 119 6) 94%,
              rgb(71 85 105 / 0.48)
      )
      border-box;
  border: 1px solid transparent;
  animation: border-spin 4s linear infinite;
}

body {
  background-color: #333;
  color: white;
}


.input {
  @apply w-full border border-gray-700 rounded-lg py-2 pl-10 pr-4 text-gray-200 placeholder-gray-400 outline-0 focus:border-gray-400;
}

.auth-input-icon {
  @apply absolute left-3 top-1/2 -translate-y-1/2 text-gray-400 size-5;
}

.auth-input-label {
  @apply block text-sm font-medium text-gray-300 mb-2;
}

.auth-badge {
  @apply inline-flex items-center px-3 py-1 text-xs font-medium rounded-full bg-gray-500/10 text-gray-300;
}

.auth-btn {
  @apply w-full bg-amber-600 text-white rounded-lg py-2.5 font-medium
  hover:bg-amber-700 focus:ring-2 focus:ring-amber-500 cursor-pointer;
}

.auth-link {
  @apply px-4 py-2 inline-block  rounded-lg text-gray-400
   text-sm transition-colors;
}